<template>
  <div>
    <input @input="validate" v-model="code" type="text" class="coupon-code" />
    <!-- <p v-if="valid">Coupon Redeemed: {{ message }}</p> -->
    <!-- <p v-else>Invalid Coupon Code</p> -->
    <p v-text="feedback"></p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      code: "",
      coupons: [
        {
          code: "50OFF",
          message: "50% Off!",
          discount: 50
        },
        {
          code: "FREE",
          message: "Entirely Free!",
          discount: 100
        }
      ]
    };
  },

  methods: {
    validate() {
      //normally you send a ajax request
      //   this.valid = this.coupons.map(coupon => coupon.code).includes(this.code);
      this.valid = !!this.selectedCoupon;

      if (this.valid) {
        this.$emit("applied", this.selectedCoupon.discount);
      }
    }
  },

  computed: {
    message() {
      return this.selectedCoupon.message;
    },
    selectedCoupon() {
      return this.coupons.find(coupon => coupon.code == this.code);
    },

    feedback() {
      if (this.valid) {
        return `Coupon Redeemed: ${this.message}`;
      }

      return "Invalid Coupon Code";
    }
  }
};
</script>