<template>
  <div>
    <input v-model="newReminder" class="new-reminder" type="text" />
    <button @click="add">Add Reminder</button>

    <ul v-if="reminders.length">
      <li :key="reminder" v-for="reminder in reminders">
        {{reminder}}
        <button class="remove" @click="remove(reminder)">Remove</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newReminder: "",
      reminders: []
    };
  },

  methods: {
    add() {
      this.reminders.push(this.newReminder);
      this.newReminder = "";
    },
    remove(reminder) {
      this.reminders.splice(reminder, 1);
    }
  }
};
</script>